/* #Student{
    background-color: aqua;
}
.Basic{
    background-color: yellowgreen;
}

.Learning{
    background-color: rebeccapurple;
} */
 /* #firstdiv{
    background-color: red;
    
 } */
 .red{
    background-color: yellow;
 }
 .bg-aqua{
    background-color: aqua;
 }